@media screen and (max-width: 1023.98px) and (min-width: 768px) {
  /* ========================================================================== */
  /*                                   HEADER                                   */
  /* ========================================================================== */

  .header {
    .head-toggle {
      padding: 1rem 1.5rem;

      // LOGO
      .logo {
        min-width: 60px;
        min-height: 30px;
      }

      //   MENU
      .menu {
        gap: 0.2rem;
        margin-left: 1.2rem;
      }

      //   LOGIN

      .login {
        gap: 0.8rem;

        h2 {
          padding: 1rem 0.8rem;
          font-size: 1.1rem;
        }
      }
    }
  }

  /* ------------------------------ HEADER > MENU ----------------------------- */
  .header {
    .head-toggle {
      .menu {
        .menu-main {
          .arrow-main {
            padding: 0 0.6rem;
            gap: 0.4rem;

            h2 {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }

  /* ========================================================================== */
  /*                                    SEC2                                    */
  /* ========================================================================== */

  .sec2 {
    background-size: 80%;
    min-height: 400px;

    // img
    .sec2-img {
      width: 60%;
      height: 60%;
      left: -2%;
      top: -20%;
    }

    // text
    .sec2-text {
      margin-top: 2.5rem;
    }
  }

  /* ========================================================================== */
  /*                                    SEC3                                    */
  /* ========================================================================== */

  .sec3 {
    background-position-y: center;
  }

  /* ========================================================================== */
  /*                                   FOOTER                                   */
  /* ========================================================================== */

  .footer {
    padding: 3rem 4rem;
    margin-top: 1rem;

    .foot-info {
      .info-title {
        margin-right: 4rem;
      }
    }
  }
}
